# CMake Build Pipeline for WarpTPS
# Builds the project using CMake and Visual Studio 2022

trigger:
- master
- main

pool:
  vmImage: 'windows-2022'

variables:
  buildPlatform: 'x64'
  buildConfiguration: 'Release'

steps:
- task: NuGetCommand@2
  displayName: 'Restore NuGet Packages'
  inputs:
    command: 'restore'
    restoreSolution: 'packages.config'
    restoreDirectory: 'packages'

- task: CMake@1
  displayName: 'Configure CMake'
  inputs:
    workingDirectory: '$(Build.BinariesDirectory)'
    cmakeArgs: |
      -G "Visual Studio 17 2022"
      -A $(buildPlatform)
      -DUSE_MFC=ON
      -DCMAKE_BUILD_TYPE=$(buildConfiguration)
      $(Build.SourcesDirectory)

- task: CMake@1
  displayName: 'Build with CMake'
  inputs:
    workingDirectory: '$(Build.BinariesDirectory)'
    cmakeArgs: '--build . --config $(buildConfiguration) -j 4'

- task: VSTest@2
  displayName: 'Run Unit Tests'
  continueOnError: true
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*UnitTest*.dll
      !**\*TestAdapter.dll
      !**\obj\**
    searchFolder: '$(Build.BinariesDirectory)'
    codeCoverageEnabled: true
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  displayName: 'Copy Build Artifacts'
  inputs:
    SourceFolder: '$(Build.BinariesDirectory)'
    Contents: |
      bin\$(buildConfiguration)\*.exe
      lib\$(buildConfiguration)\*.lib
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'WarpTPS-$(buildPlatform)-$(buildConfiguration)'
    publishLocation: 'Container'
