<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Core Boost headers -->
  <package id="boost" version="1.87.0" targetFramework="native" />

  <!-- Boost compiled libraries -->
  <package id="boost_date_time-vc142" version="1.87.0" targetFramework="native" />
  <package id="boost_regex-vc142" version="1.87.0" targetFramework="native" />
  <package id="boost_zlib-vc142" version="1.87.0" targetFramework="native" />

  <!-- Image libraries for WarpWebServer -->
  <package id="libpng" version="1.6.28.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.28.1" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>
